<div class="card" id="addnote-card">
  <form class="ui form" action="/start/addNote" method="POST">
    <div class="field">
      <input type="text" name="title" id="title" placeholder="Title" required maxlength="20">
    </div>
    <button class="ui large button">Create</button>
  </form>
</div>