<div class="ui card">
  <div class="card">
    <form class="ui form" action="/start/addNote" method="POST" style="margin:13px 13px 0px 13px;">
      <div class="field">
        <input type="text" name="title" id="title" placeholder="Title" required maxlength="20">
      </div>
      <button class="ui attached button" style="width: 260px; border-radius:3px; margin-top:32px;">Create</button>
    </form>
  </div>
</div>