<footer>
    {{!-- <div class="footerContent">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>
    </div> --}}
    <p>&copy; 2022 Damian Dzik</p>
</footer>