{{#each notes}}
<div class="card" style="overflow: hidden;">
    <div class="content">
        <div class="header">
            {{title}}
        </div>
        <div class="meta">
            {{creationDate}}
        </div>
    </div>
    <div class="extra content">
        <div class="ui large buttons">
            <a class="ui button" style="width: 130px;" href="">Edit</a>
            <div class="or"></div>
            <a class="ui button" style="width: 130px;" href="/start/deleteNote/{{nid}}">Delete</a>
        </div>
    </div>
</div>
{{/each}}