<div class="ui cards">
  <div class="card">
    <div class="content">
      <div class="header">
        {{notename}}
      </div>
      <div class="meta">
        {{date}}
      </div>
    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a class="ui basic green button" href="">Edit</a>
        <a class="ui basic red button" href="">Delete</a>
      </div>
    </div>
  </div>
</div>