<div class="sidemenu-container">
    <div class="ui secondary vertical pointing menu">
        <a id="start" href="/start" class="item">Notepads</a>
        <a id="bin" href="/start/bin" class="item">Bin</a>
        <a id="settings" href="" class="item">Settings</a>
    </div>
</div>

<script>
    $("{{id}}").addClass("active item");
</script>