<nav class="nav">
    <div class="ui secondary menu" id="desktop-nav2">
        <a class="item" href="/">
            Home
        </a>
        <div class="right menu">
            <a class="item" href="#">
            Notes
            </a>
            <a class="item" href="#">
            Log out
            </a>
        </div>
    </div>
    {{!-- Mobile navigation --}}
    {{!-- https://www.cssscript.com/morphing-mobile-hamburger-navigation/
    
    as creating navigation is not my thing.
     --}}
    <div class="mobile-nav">
        <i class="burger material-icons" onclick="burger()">menu</i>
        <i class="quit material-icons" onclick="quit()">clear</i>
        <div class="links">
            <a href="">Home</a>
            <a href="">Profile</a>
            <a href="">Log out</a>
        </div>
    </div>
</nav>