<nav class="workshopNav">
    <div class="ui menu">
        <a href="" class="item">item1</a>
        <a href="" class="item">item2</a>
        <div class="right menu">
            <a href="" class="item"><img src="" alt="users profile picture"></a>
        </div>
    </div>
</nav>