<nav class="workshopNav">
    <div class="ui secondary menu">
        <a href="" class="item">Create</a>
        <div class="right menu">
            <a href="" class="item">Logout</a>
        </div>
    </div>
</nav>