{{> workshopNav}}
<div class="main-body">
    <div class="ui grid">
        <div class="four wide column">
            <div class="ui secondary vertical pointing menu">
                <a href="/start" class="item">Notepads</a>
                <a href="/start/bin" class="active item">Bin</a>
                <a href="" class="item">Settings</a>
            </div>
        </div>
        <div class="twelve wide column">
            <div class="ui cards">
                {{> binNotes}}
            </div>
        </div>
    </div>
</div>