{{> workshopNav}}
<div class="main-body">
    <div class="ui grid">
        <div class="four wide column">
            {{> sidemenu id='bin'}}
        </div>
        <div class="twelve wide column">
            <div class="ui cards">
                {{> binNotes}}
            </div>
        </div>
    </div>
</div>