{{> navbar}}

<title>{{title}}</title>
<div class="forms-container">
  <form action="/authenticate" method="POST" class="form">
    <h2>LOGIN</h2>
    <input type="email" name="email" class="box" placeholder="joe@bloggs.com" required>
    <input type="password" name="passowrd" class="box" placeholder="*******" required>
    <input type="submit" value="LOGIN" class="submit-btn">
    <a href="">Forgot Password?</a>
  </form>
  <div class="form-side">
    {{!-- <img src="../public/images/b.jpg" alt="bubbles"> --}}
  </div>
</div>