{{> navbar}}

<title>{{title}}</title>
{{!-- <div class="forms-contianer">
  <div class="ui segment">
    <div class="ui grid cform">
      <div class="eight wide column" style="padding: 0;">
        <div class="forms-deco">
          <img src="../public/images/b.jpg" alt="">
        </div>
      </div>
      <div class="eight wide column">
        <div class="form-center">
          <form class="ui form" action="/authenticate" method="POST">
            <div class="field">
              <label for="email">Email</label>
              <input placeholder="Email" type="text" name="email" required>
            </div>
            <div class="field">
              <label for="password">Password</label>
              <input type="password" name="password" placeholder="********" required>
            </div>
            <button class="ui submit button" style="width: 100%; background-color:#8CC0DE;">Continue</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> --}}

<div class="forms-container">
  <form action="/authenticate" method="POST" class="form">
    <h2>LOGIN</h2>
    <input type="email" name="email" class="box" placeholder="joe@bloggs.com" required>
    <input type="password" name="passowrd" class="box" placeholder="*******" required>
    <input type="submit" value="LOGIN" class="submit-btn">
    <a href="">Forgot Password?</a>
  </form>
  <div class="form-side">
    {{!-- <img src="../public/images/b.jpg" alt="bubbles"> --}}
  </div>
</div>