{{> navbar id='register'}}

<title>{{title}}</title>
<div class="forms-container">
  <form action="/register" method="POST" class="form">
    <h2>SIGN UP</h2>
    <input type="username" name="username" class="box" placeholder="johnnyboy1984" required>
    <input type="email" name="email" class="box" placeholder="joe@bloggs.com" required>
    <input type="password" name="passowrd" class="box" placeholder="*******" required>
    <input type="submit" value="SIGN UP" class="submit-btn">
    <a href="">Already have an account?</a>
  </form>
  <div class="form-side">
    {{!-- <img src="../public/images/b.jpg" alt="bubbles"> --}}
  </div>
</div>