{{> workshopNav}}
<div class="main-body" style="margin-top: 3em;">
    <div class="startContent">
        <div class="ui grid">
            <div class="row">
                <div class="four wide column">
                    <div class="ui secondary vertical pointing menu">
                        <a href="" class="active item">Notepads</a>
                    </div>
                </div>
                <div class="six wide column">
                    {{> addnote}}
                </div>
            </div>
        </div>
    </div>
</div>