{{> workshopNav}}
<div class="main-body">
    <div class="ui grid">
        <div class="four wide column">
            {{> sidemenu id='start'}}
        </div>
        <div class="twelve wide column">
            <div class="ui cards">
                {{> listNotes}}
                {{> addnote}}
            </div>
        </div>
    </div>
</div>