{{> workshopNav}}
<div class="main-body">
    <div class="notelist">
        <div class="ui grid">
            <div class="four wide column">
                <div class="ui secondary vertical pointing menu">
                    <a href="" class="active item">Notepads</a>
                    <a href="" class="item">Settings</a>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="ui cards">
                    {{> listNotes}}
                </div>
                {{> addnote}}
            </div>
        </div>
    </div>
</div>