<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {{!-- because we have access to the public folder. we do not need to go back in
            directories like this '/public/style.css' instead we can just call the stylesheet just like below

            but for some reasons they switch from time to time. Meaning that the path changes all the time
     --}}
    <link rel="stylesheet" href="/public/style.css"
    type="text/css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.css">
    <title>{{title}}</title>
  </head>
  <body>
      <div>
        {{{body}}}
      </div>
    <!-- import the webpage's javascript file -->
    <script src="/public/script.js" defer></script>
        <!-- import the SemanticUI and jQuery javascript files -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script  src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.js">
    </script>
  </body>
</html>
