/* Fonts */
    @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*  */
.body{
    width: auto;
    padding: 0;
    margin: 0;
    background: linear-gradient(#fffafa ,#f0eae6 ) no-repeat;
    background-size: cover;
}
.main-body{
    width: auto;
    margin-left: 20%;
    margin-right: 20%;
}
.forms{
    width: auto;
    padding-top: 10%;
    padding-left: 40%;
    padding-right: 40%;
    height: 79.9vh;
}
.banner{
    padding: 5em;
    width: auto;
    height: 400px;
    height: auto;
}
.banner-content{
    text-align: center;
    vertical-align: middle;
}
.banner-content h1{
    font-size: 80px;
}
.banner-content p{
    font-size: large;
}
.imageFrame{
    background-color: black;
    width: 500px;
    height: 500px;
}
#indexform{
    padding: 2em;
}

/* navigation */
.nav{
    padding: 0.5em;
}
.nav .item{
    font-size: larger;
    font-weight:bolder;
}

/* footer */
footer{
    bottom:0;
    position: relative;
    text-align: center;
    margin-top: 3em;
    padding: 1em;
    height: auto;
    width: 100%;
    background-color: #8CC0DE;
    bottom:0;
}
.footerContent ul{
    list-style: none;
    font-weight: bold;
}
.footerContent ul a{
    text-decoration: none;
    color: black;
}
.footerContent ul li{
    padding: 0 10px;
    display: inline-block;
}

/* card lists pages */
.workshopNav .ui.menu{
    background:#8CC0DE;
    max-height: 50px;
    overflow: hidden;
}
.listContainer{
    margin-top: 3em;
}

/* Mobile styles that do not need to be in media */
.mobile-nav{
    display: none;
}
.burger{
  position: fixed;
  right: 0;
  top: 0;
  color: black;
  background: linear-gradient(45deg, #8CC0DE 10%, #f0eae6);
  font-size: 32px;
  padding: 16px 16px 32px 32px;
  border-radius: 0% 0% 0% 100%;
  transition: 1s;
  cursor: pointer;
}
.quit{
  position: fixed;
  top: 0;
  color: black;
  font-size: 32px;
  padding: 16px;
  display: none;
  cursor: pointer;
}
.links{
  display: none;
  flex-direction: column;
  width: 100vw;
  height: 50vh;
  padding: 25vh 0;
  justify-content: space-around;
}
.links a{
  text-align: center;
  text-decoration: none;
  padding-top: 1em;
  color: black;
  font-size: 2em;
  font-family: 'Roboto';
  z-index: 10;
}
/* media queries/ mobile stuff */
@media only screen and (max-width:900px) {
    .child{
        width:100%;
    }
    .nav{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .forms{
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 20em;
    }
}