.parent{
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.child{
    width: 60%;
}
.nav{
    padding: 0.5em;
}

.banner{
    padding: 5em;
    width: auto;
    height: 400px;
    background-image: linear-gradient(rgb(237, 180, 253)80%,rgba(255, 255, 255, 0));
}
.banner-content{
    text-align: center;
    vertical-align: middle;
}
.banner-content h1{
    font-size: 80px;
}
.banner-content p{
    font-size: large;
}
.line {
    border: 0;
    width: auto;
    height: 1px;
    background-color: #0000006e;
}


/* media queries */
@media only screen and (max-width:900px) {
    .child{
        width:100%;
    }
    
}