{{> navbar id="index"}}

<title>{{title}}</title>

<div class="main-body">
    <div class="page-content">
        <div class="banner">
            <div class="banner-content">
                <h1>Note App name helps you be more organized</h1>
                <p>buzz words here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor fermentum purus sit amet
                    euismod. Fusce sit amet mauris at risus mollis suscipit. Proin consequat elit quis pulvinar
                    convallis. Morbi eu congue risus. Cras et nunc sit amet neque tincidunt pretium. Quisque
                    vestibulum lobortis purus volutpat vulputate. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Nulla fermentum turpis eros, sit amet rutrum lacus
                    porta ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras malesuada consequat
                    massa, vel gravida erat congue in. In aliquet vestibulum eros, quis rhoncus augue rutrum a.
                    Praesent tortor quam, fermentum pretium nulla at, ullamcorper maximus odio. Integer aliquam
                    neque vitae lacus tempus, vitae maximus tellus elementum. Praesent cursus consectetur arcu
                    viverra suscipit. Nunc ac nunc vulputate nisi ultrices rhoncus. Nulla rutrum enim sit amet
                    vehicula eleifend.</p>
                <div class="ui form">
                    <div class="inline fields">
                        <div class="eight wide field">
                            {{!-- here we will put a nice pastel image --}}
                            <img src="" alt="">
                        </div>
                        <div class="eight wide field">
                            <input type="text" name="email" id="signupinput" style="font-size: larger;"
                                placeholder="joe@blogs.com">
                            <a class="ui button" href=""
                                style="width: 300px; font-size:large; background-color:#E0B8FF;">Sign up for free!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui equal width center aligned grid">
            <div class="row">
                <div class="column">
                    <p>more info here</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor fermentum purus sit amet
                        euismod. Fusce sit amet mauris at risus mollis suscipit. Proin consequat elit quis pulvinar
                        convallis. Morbi eu congue risus. Cras et nunc sit amet neque tincidunt pretium. Quisque
                        vestibulum lobortis purus volutpat vulputate. Pellentesque habitant morbi tristique senectus et
                        netus et malesuada fames ac turpis egestas. Nulla fermentum turpis eros, sit amet rutrum lacus
                        porta ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras malesuada consequat
                        massa, vel gravida erat congue in. In aliquet vestibulum eros, quis rhoncus augue rutrum a.
                        Praesent tortor quam, fermentum pretium nulla at, ullamcorper maximus odio. Integer aliquam
                        neque vitae lacus tempus, vitae maximus tellus elementum. Praesent cursus consectetur arcu
                        viverra suscipit. Nunc ac nunc vulputate nisi ultrices rhoncus. Nulla rutrum enim sit amet
                        vehicula eleifend.</p>
                </div>
                <div class="column">
                    <div class="yaya"></div>
                </div>
            </div>
        </div>
    </div>
</div>