{{> navbar id="login"}}

<title>{{title}}</title>
<div class="forms">
  <form class="ui segment form" action="/authenticate" method="POST">
    <h3 class="ui header">Login</h3>
    <div class="field">
      <label for="email">Email</label>
      <input placeholder="Email" type="text" name="email" required>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="password" name="password" required>
    </div>
    <button class="ui blue submit button" style="width: 100%;">Continue</button>
  </form>
</div>