<nav class="nav">
    <div class="ui secondary menu" id="desktop-nav">
        <a class="item" href="/">
            Home
        </a>
        <div class="right menu">
            <a class="item" href="/login">
            Login
            </a>
            <a class="item" href="/signup">
            Sign up
            </a>
        </div>
    </div>
    {{!-- Mobile navigation --}}
    {{!-- https://www.cssscript.com/morphing-mobile-hamburger-navigation/
    
    as creating navigation is not my thing.
     --}}
    <div class="mobile-nav">
        <i id="burger" class="material-icons" onclick="burger()">menu</i>
        <i id="quit" class="material-icons" onclick="quit()">clear</i>
        <div id="links">
            <a href="">Home</a>
            <a href="">Login</a>
            <a href="">Sign up</a>
        </div>
    </div>
</nav>