<nav class="nav">
    <div class="ui secondary menu" id="desktop-nav1">
        <a class="item" href="/">
            Home
        </a>
        <div class="right menu">
            <a class="item" href="/login">
                Login
            </a>
            <a class="item" style="background-color:#E0B8FF;" href="/signup">
                Sign up
            </a>
        </div>
    </div>
</nav>
{{!-- Mobile navigation --}}
{{!-- https://www.cssscript.com/morphing-mobile-hamburger-navigation/

as creating navigation is not my thing.
--}}
<div class="mobile-nav">
    <i class="burger material-icons" onclick="burger()">menu</i>
    <i class="quit material-icons" onclick="quit()">clear</i>
    <div class="links">
        <a href="">Home</a>
        <a href="">Login</a>
        <a href="">Sign up</a>
    </div>
</div>